// TODO refactor all styles
.layout {
  width: 70%;
  min-height: 86vh;
  background-color: rgba(122, 122, 122, 0.58);
  margin: 100px 0 0;
}

mat-list-item {
  margin-bottom: 20px;
}

header {
  background: beige;
  height: 100px;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.main {
  display: flex;

  .general_sum {
    margin: 100px 0 0;
    width: 30%;
    display: flex;
    align-items: center;
    right: 0;
    height: 100%;
    position: fixed;
    background: aqua;
  }
}
