<header>
  <button (click)="addItem()">Add a new one</button>
</header>
<div class='main'>
  <div class="layout" [formGroup]="form">

    <mat-list>
      <ng-container formArrayName="items">
        <mat-list-item *ngFor="let formItem of itemsControls; let i = index">
          <!--        TODO create a component -->
          <div [formGroup]="formItem">
            <mat-form-field appearance="fill">
              <mat-label>Crypto currency</mat-label>
              <mat-select formControlName="cryptoCurrency">
                <mat-option *ngFor="let currency of cryptoCurrencies" [value]="currency.current_price">
                  {{currency.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Quantity of coins</mat-label>
              <!--        TODO: Only for numbers-->
              <input placeholder="1000" matInput formControlName="quantity">
            </mat-form-field>

            <span>Sum: {{formItem.get('sum').value}}</span>

            <button (click)="removeItem(i)">Remove</button>
          </div>
        </mat-list-item>
      </ng-container>
    </mat-list>
    <!--        TODO create a component -->

    <!--        TODO create a component -->
  </div>
  <div class='general_sum'>
    GENERAL SUM: {{sum}}
  </div>
</div>
