<header>
  <div class='title'>Crypto Counter</div>
  <div>
    <button (click)="addItem()" class='btn_add'>
      <span class='plus'>+</span>
      <i class="uil uil-coins"></i>
    </button>
  </div>
</header>
<div class='main'>
  <div class="layout" [formGroup]="form">
    <mat-list>
      <ng-container formArrayName="items">
        <mat-list-item *ngFor="let formItem of itemsControls; let i = index">
          <!--        TODO create a component -->
          <div [formGroup]="formItem">
            <div>
              <mat-form-field appearance="fill">
              <mat-label>Crypto currency</mat-label>
              <mat-select formControlName="cryptoCurrency">
                <mat-option *ngFor="let currency of cryptoCurrencies" [value]="currency.current_price">
                  {{currency.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Quantity of coins</mat-label>
                <!--        TODO: Only for numbers-->
                <input placeholder="1000" matInput formControlName="quantity">
              </mat-form-field>
              <button (click)="removeItem(i)" class='btn_remove'>
                <i class="uil uil-trash"></i>
              </button>
            </div>
            <div class='sum_item'>
              <div>Sum: {{formItem.get('sum').value}}</div>
            </div>
          </div>
        </mat-list-item>
      </ng-container>
    </mat-list>
    <!--        TODO create a component -->
    <!--        TODO create a component -->
  </div>
  <div class='general_sum'>
    <div class='general_sum_title'>
      <span>GENERAL</span>
      <span>SUM:</span>
    </div>
    <div class='sum'>{{sum}}</div>
  </div>
</div>
